<?xml version="1.0" encoding="UTF-8"?>
<?eclipse version="3.4"?>
<plugin>

   <extension
         point="org.eclipse.ui.popupMenus">
      <objectContribution
            id="ac.soton.fmusim.codegen.contribution2"
            objectClass="ac.soton.fmusim.components.diagram.edit.parts.EventBComponentEditPart">
         <menu
               id="ac.soton.fmusim.codegen.menu2"
               label="FMI"
               path="additions">
            <separator
                  name="group1">
            </separator>
         </menu>
         <action
               class="ac.soton.fmusim.codegen.popup.actions.CodeGenV1_0"
               enablesFor="1"
               id="ac.soton.fmusim.codegen.newAction3"
               label="Generate FMU 1.0 C Project"
               menubarPath="ac.soton.fmusim.codegen.menu2/group2">
         </action>
<!--
         <action
               class="ac.soton.fmusim.codegen.popup.actions.CodeGenV2_0"
               enablesFor="1"
               id="ac.soton.fmusim.codegen.newAction2"
               label="Generate FMU 2.0 C Project"
               menubarPath="ac.soton.fmusim.codegen.menu2/group2">
         </action>
 -->
      </objectContribution>
   </extension>
   <extension
         point="org.eclipse.ui.commands">
      <command
            id="ac.soton.fmusim.codegen.ui.CodeGen"
            name="CodeGen">
      </command>
   </extension>
   <extension
         point="org.eclipse.ui.menus">
      <menuContribution
            locationURI="toolbar:org.eclipse.ui.main.toolbar?after=additions">
         <toolbar
               id="ac.soton.fmusim.components.ui.toolbar">
            <command
                  commandId="ac.soton.fmusim.codegen.ui.CodeGen"
                  icon="icons/CodeGen.gif"
                  label="Code Gen"
                  style="push">
            </command>
            <visibleWhen
                  checkEnabled="true">
            </visibleWhen>
         </toolbar>
      </menuContribution>
   </extension>
   <extension
         point="org.eventb.codegen.il1.translator">
      <emfPackage
            SourceName="IL1"
            name="FMI_C Translators"
            nsURISource="http://il1/1.0">
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CTaskTranslator"
               coreTargetLanguage="FMI_C"
               name="CTaskTranslator"
               sourceClass="Task"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CVariableTranslator"
               coreTargetLanguage="FMI_C"
               name="CVariableDeclTranslator"
               sourceClass="VariableDecl"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="ac.soton.fmusim.codegen.translator.il1tofmuc.FMUCSubroutineTranslator"
               coreTargetLanguage="FMI_C"
               name="CSubroutineTranslator_Default"
               sourceClass="Subroutine"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CActionTranslator"
               coreTargetLanguage="FMI_C"
               name="CActionTranslator"
               sourceClass="Action"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CSeqTranslator"
               coreTargetLanguage="FMI_C"
               name="CSeqTranslator"
               sourceClass="Seq"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CPreconditionLoopTranslator"
               coreTargetLanguage="FMI_C"
               name="CPreconditionLoopTranslator"
               sourceClass="PreconditionLoop"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.COutputTranslator"
               coreTargetLanguage="FMI_C"
               name="COutputTranslator"
               sourceClass="Output"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CIfTranslator"
               coreTargetLanguage="FMI_C"
               name="CIfTranslator"
               sourceClass="If"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CElseIfTranslator"
               coreTargetLanguage="FMI_C"
               name="CElseIfTranslator"
               sourceClass="ElseIf"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CEnvironTranslator"
               coreTargetLanguage="FMI_C"
               name="CEnvironTaskTranslator"
               sourceClass="EnvironTask"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CCallTranslator"
               coreTargetLanguage="FMI_C"
               name="CCallTranslator"
               sourceClass="Call"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="ac.soton.fmusim.codegen.translator.il1tofmuc.FMUCProtectedTranslator"
               coreTargetLanguage="FMI_C"
               name="FMI_CProtectedTranslator"
               sourceClass="Protected"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="ac.soton.fmusim.codegen.translator.il1tofmuc.FMUCConstantTranslator"
               coreTargetLanguage="FMI_C"
               name="FMUCConstantTranslator"
               sourceClass="ConstantDecl"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CProgramTranslator"
               coreTargetLanguage="FMI_C"
               name="CProgramTranslator"
               sourceClass="Program"
               specificTargetLanguage="OpenMP">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CEnumerationTranslator"
               coreTargetLanguage="FMI_C"
               name="CEnumerationTranslator"
               sourceClass="Enumeration"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CCaseTranslator"
               coreTargetLanguage="FMI_C"
               name="CCaseTranslator"
               sourceClass="Case"
               specificTargetLanguage="Default">
         </il1Translator>
         <il1Translator
               IL1TranslatorClass="org.eventb.codegen.il1.translator.c.CCaseStatementTranslator"
               coreTargetLanguage="FMI_C"
               name="CCaseStatementTranslator"
               sourceClass="CaseStatement"
               specificTargetLanguage="Default">
         </il1Translator>
      </emfPackage>
   </extension>
   <extension
         point="org.eventb.codegen.tasking.translator">
      <emfPackage
            TargetOutput="IL1"
            name="TaskingPackage"
            nsURISource="http://tasking.ecore">
         <taskingTranslator
               name="FMUMachine"
               sourceClass="FMU_Machine"
               taskingTranslatorClass="ac.soton.fmusim.codegen.translator.eb2il1.FMUMachineTaskingTranslator">
         </taskingTranslator>
      </emfPackage>
   </extension>

</plugin>
